spring:
  application:
    name: api-gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://msvc-oauth:9100
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: msvc-oauth
          uri: lb://msvc-oauth
          predicates:
            - Path=/api/security/**

        - id: msvc-users
          uri: lb://msvc-users
          predicates:
            - Path=/api/users/**

        - id: msvc-clientes
          uri: lb://msvc-clientes
          predicates:
            - Path=/api/clientes/**

        - id: msvc-vehiculos
          uri: lb://msvc-vehiculos
          predicates:
            - Path=/api/vehiculos/**,/api/modelos/**,/api/marcas/**,/api/tipos-vehiculo/**

        - id: msvc-contratos
          uri: lb://msvc-contratos
          predicates:
            - Path=/api/contratos/**,/api/comprobantes/**

        - id: msvc-reportes
          uri: lb://msvc-reportes
          predicates:
            - Path=/api/reportes/**

server:
  port: 8090

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    hostname: api-gateway

management:
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG